header {
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(57, 147, 237);
    opacity: 75%;
}

h1 {
    font: 'Orbitron', sans-serif;

}

h3 {
    font: 'Orbitron', sans-serif;
    text-align: center;
}

.sub-head {
    font-family:'Orbitron', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: white;
}

.rules-head {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: white;
}

#rules {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    font: white;
    display: none;
}

#kisses, #episode, #the-project, #novels-and-comics {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    font: white;
    display: none;
    }

#kisses-button, #episode-button, #the-project-button, #novels-and-comics-button {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
    background-color:#6686bd;
    border-radius:22px;
    border:2px solid #4e6096;
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:8px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
}

#ready {
    /* background-color: lightyellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin: auto;
    margin: top;
    padding: 10px;
    display: block;
}

#why-im-here {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #4e6096;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

body {
    color: white; 
    background: #000000;
    background-image: url('https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
    background-position: top center;
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(129, 133, 155) 0%, rgba(194,145,155,1) 100%); */
}

#display-question {
    /* background-color: lightyellow; */
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    margin: auto;
    margin: top;
    padding: 10px;
}

#play-game {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #4e6096;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#play-game:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #6686bd 100%);
	background-color:#476e9e;
}
#play-game:active {
	position:relative;
	top:1px;

}

#judge {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 250px;
    height: 25px;
    /* background-color: lightyellow; */
    color: rgb(81, 124, 195);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

#easy-button {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #5068af;
	/* display:block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
}

/* #easy-answer, #kisses-input-answer, #episode-input-answer, #the-project-input-answer {
    width: 200px;
    height: 25px;
    background-color: lightyellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    
} */

#easy-button, #kisses-input-button, #episode-input-button, #the-project-input-button, #novels-and-comics-input-button {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #5068af;
	/* display:block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
}

/* #kisses-input-button {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #5068af;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
} */

#easy-answer, #kisses-input-answer, #episode-input-answer, #the-project-input-answer, #novels-and-comics-input-answer {
    width: 200px;
    height: 25px;
    background-color: lightyellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    
}
.Button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #6686bd 100%);
	background-color:#476e9e;
}
.Button:active {
	position:relative;
	top:1px;

}

#time{
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    /* text-align: center; */
    padding: 20px;
  }

  #timer {
    display: block;
    /* margin-left: 80%;
    margin-right: 80%; */
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 20px;
    display: none;
  }

 #end-game {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    font: white;
    display: none;
    z-index: 5;
}

#play-again {
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #6686bd 5%, #476e9e 100%);
	background-color:#6686bd;
	border-radius:22px;
	border:2px solid #4e6096;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

/* #kisses-input-answer {
    width: 200px;
    height: 25px;
    background-color: lightyellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
} */

