header {
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}

header img {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(57, 147, 237);
    opacity: 75%;
}

.rules {
    margin: auto;
    text-align: center;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(129, 133, 155) 0%, rgba(194,145,155,1) 100%);
}

#display-question {
    background-color: lightyellow;
    width: 500px;
    height: 100px;

    margin: auto;
    margin: top;
    padding: 10px;

}

#answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#play-game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#button {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#time{
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 20px;
  }